
/* General Variables */
$primary: rgb(150,20,20);
$secondary: rgb(199, 164, 11);
$danger: red;
$border-color: #dee2e6;


/* General */
h1, h2, h3{
    text-transform: capitalize;
}

html{
    scroll-behavior: smooth;
}


/* Top navigation bar */
.nav-link {
    color:white;
    &:hover{
        background-color: $secondary;
    }
}

.navbar-brand{
    color: white;
    &:hover{
        color:$secondary;
    }
}

.nav{
    transition: all 0.5s ease-in-out;
}


/* =================================================== */
/* Carousel */
.carousel-control-prev, .carousel-control-next{
    cursor: pointer;
}

.slide-container{
    white-space: nowrap;
    transition: 0.5s ease-in-out;
}

.slide-text-container{
    position: absolute;
    left: 50%;
    top: 75%;
    transform: translate(-50%, 0%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    white-space: normal;
    text-align: center;
    padding: 2%;
}

.left-arrow, .right-arrow{
    position: absolute;
    height: 100%;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    z-index: 1000;
    &:hover{
        color: grey;
    }
}

.left-arrow {
    left: -4%;
}

.right-arrow {
    left: 100%;
}



/* News */
.news-article{
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    &:hover{
        background-color: rgba(0, 0, 0, 0.02);
        transform: scale(1.03);
    }
}