.carousel-control-prev, .carousel-control-next{
    cursor: pointer;
}

.slide-container{
    white-space: nowrap;
    transition: 0.5s ease-in-out;
}

.slide-text-container{
    position: absolute;
    left: 50%;
    top: 75%;
    transform: translate(-50%, 0%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    white-space: normal;
    text-align: center;
    padding: 2%;
}

.left-arrow, .right-arrow{
    // height: 100%;
    z-index: 1000;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    &:hover{
        color: grey;
    }
}

.left-arrow {
    left: -6%;
}

.right-arrow {
    left: 100%;
}